<h1 class="stylered">{{title}}</h1>
<p>{{content}}</p>
<header>
    <div class="menu-container">
        <ul class="menu">
            <li class="nav-item">
                <a href="/api">Whether</a>
            </li>
            <li class="nav-item">
                <a href="/api/about">About</a>
            </li>
            <li class="nav-item">
                <a href="/api/help">Help</a>
            </li>
            <li class="nav-item">
                <a href="/api/time">Time</a>
            </li>
        </ul>
    </div>
</header>
<img class="portrait" src="/img/download.jpg" alt="robot">